## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [101]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [155]:
# criando um DataFrame "df_alunos" com todas as informações de todos os alunos
dfs = [df_mat, df_por, df_geo, df_ing, df_his, df_fis, df_qui]
nome_colunas = ['matematica', 'portugues', 'geografia', 'ingles', 'historia', 'fisica', 'quimica']
df_alunos = pd.concat(dfs, axis=1)
df_alunos.columns = nome_colunas
df_alunos.index = range(1,101)


# dicionario com a quantidade de questões de cada prova
assuntos_questoes = {
    'matematica':24,
    'portugues':18,
    'geografia':8,
    'ingles':8,
    'historia':8,
    'fisica':12,
    'quimica':12,
    'total':90
}

In [519]:
df_alunos

     matematica  portugues  geografia  ingles  historia  fisica  quimica
1             6          7          7       3         1       8        3
2            19         10          0       0         0      11        8
3            14         16          0       5         7       4        4
4            10          7          3       4         0       0        8
5             7          2          2       7         0       9        3
..          ...        ...        ...     ...       ...     ...      ...
96            6          4          7       1         4       9        3
97            8          1          4       6         1       4        3
98           23          5          0       2         4       1        5
99            0         10          3       1         5      10       11
100          11         15          0       1         6       7        2

[100 rows x 7 columns]

In [157]:
# 1) percentual por assunto

# função recebe o DataFrame df_alunos e o assunto em str, imprime na tela a porcentagem e retorna o valor da porcentagem em float
def porcentagem_acerto_por_assunto(df, assunto=''):
    print(f'O percentual de acertos dos alunos em {assunto} é de {round(df_alunos[assunto].sum() / total_questoes[assunto],2)}%')
    return round(df_alunos[assunto].sum() / total_questoes[assunto],2)

# for loop atraves do dicionario com assuntos para rodar a função em cara assunto
for assunto in assuntos_questoes:
    if assunto == 'total':
        break
    porcentagem_acerto_por_assunto(df_alunos, assunto)

O percentual de acertos dos alunos em matematica é de 49.38%
O percentual de acertos dos alunos em portugues é de 40.17%
O percentual de acertos dos alunos em geografia é de 42.0%
O percentual de acertos dos alunos em ingles é de 47.62%
O percentual de acertos dos alunos em historia é de 45.0%
O percentual de acertos dos alunos em fisica é de 44.33%
O percentual de acertos dos alunos em quimica é de 45.25%

In [ ]:
# 2) Seu código aqui

# função recebe o DataFrame df_alunos, imprime o total de acertos de cada aluno e retorna uma lista com o total de acertos de cada aluno
def total_acerto_cada_aluno(df_alunos):
    res = []
    for i in range(1,df_alunos.index.size+1):
        print(f'O total de acertos do aluno número {i} é: {df_alunos.loc[i].sum()}')
        res.append(df_alunos.loc[i].sum())
    return res
    

total_acertos = total_acerto_cada_aluno(df_alunos)

In [ ]:
# 3) Seu código aqui

# função recebe a lista total_acertos e o dicionario assuntos_questoes, printa o 
# percentual geral de cara aluno e retorna uma lista de floats com o percentual geral de cada aluno
def percentual_geral(total_acertos, assuntos_questoes):
    res = []
    for n in range(len(total_acertos)):
        print(f'O percentual geral do aluno número {n+1} é {round((total_acertos[n]/assuntos_questoes["total"])*100,2)}%')
        res.append(round((total_acertos[n]/assuntos_questoes["total"])*100,2))
    return res


percentual_geral = percentual_geral(total_acertos, assuntos_questoes)

In [292]:
# 4) Seu código aqui

print(f'{len([x for x in total_acertos if x > 45])} alunos tiveram nota maior que 45')

31 alunos tiveram nota maior que 45

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [ ]:
# 1 - dataframe com os alunos que tiraram zero em um dos 3 assuntos
zerados_matematica = df_alunos[df_alunos['matematica']==0].matematica
zerados_quimica = df_alunos[df_alunos['quimica']==0].quimica
zerados_fisica = df_alunos[df_alunos['fisica']==0].fisica
zerados = pd.concat([zerados_matematica, zerados_quimica, zerados_fisica], axis=1)
zerados

In [459]:
# 2 - quantidade de alunos que zeraram em algum dos 3 assuntos
zerados.count()

matematica     3
quimica        9
fisica        12
dtype: int64

In [520]:
# 3 - media dos alunos em historia e geografia
print(f'A média dos alunos em história é {df_alunos["historia"].sum()/100}')
print(f'A média dos alunos em geografia é {df_alunos["geografia"].sum()/100}')

A média dos alunos em história é 3.6
A média dos alunos em geografia é 3.36

In [564]:
df_alunos_aprovados = df_alunos
df_alunos_aprovados['media'] = total_acertos
df_alunos_aprovados = df_alunos[df_alunos['matematica'] != 0]
df_alunos_aprovados = df_alunos_aprovados[df_alunos_aprovados['quimica'] != 0]
df_alunos_aprovados = df_alunos_aprovados[df_alunos_aprovados['fisica'] != 0]
df_alunos_aprovados = df_alunos_aprovados[df_alunos_aprovados['media'] > 45]

In [575]:
# DataFrame com alunos aprovados, removendo zeros em quimica fisica e matematica e removendo medias abaixo de 46
df_alunos_aprovados

    matematica  portugues  geografia  ingles  historia  fisica  quimica  media
2           19         10          0       0         0      11        8     48
3           14         16          0       5         7       4        4     50
6           20          2          5       3         2       9        9     50
8           18          4          4       7         7       1        8     49
9           22          9          2       7         6       5        7     58
18          21         15          2       2         4       2        6     52
19          20          4          3       5         3      11        4     50
25          20          2          7       5         3      11        2     50
32          15         13          3       1         3       9       10     54
37          22          9          6       6         1       4        8     56
38          19         12          5       7         1       6        2     52
40           4         16          2       4         6       9        8     49
41          18          3          6       3         6       5        6     47
43          20          6          7       7         2       3        3     48
46          17         10          0       2         6       9        4     48
49          17          6          0       7         5       9       11     55
61          16          8          0       4         4       7        9     48
63          17          6          2       4         7       1        9     46
68          21          0          7       2         4       2       10     46
71          21         14          0       3         5      11        8     62
72          17          8          7       6         4       2        9     53
78          15          2          5       7         6      11        7     53
79          14         16          7       2         7      11        9     66
82          22         16          2       0         4       1       10     55
89          20          1          1       5         7       9        7     50
94          12         16          5       5         6       6        6     56

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [591]:
arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-97829158-cc41-4c75-aec4-752344e6e938.c000.csv'
df = pd.read_csv(arquivo, sep=';')
df.head(1)

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,a7b2e803-75ae-4c59-baa7-421d87f9a707-i0b0,3e35925a3512d7901cd2974eb662e25b6130ee42e72317...,30,1991-08-30,F,4,AMARELA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,205F21A,JANSSEN,Organization/30587,2022-05-26,Reforço,88,COVID-19 JANSSEN - Ad26.COV2.S,Novo PNI

In [686]:
# 1) Quantas vacinas estão registradas nessa base?

len(df.vacina_nome.unique())

13

In [687]:
# 2) Quantos pacientes foram vacinados? (considere um paciente para cada valor único de paciente_id)

len(df.paciente_id.unique())

308842

In [688]:
# 3) Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método .unique().
df_primeira_dose = df[df['vacina_descricao_dose']=='1ª Dose']
len(df_primeira_dose.paciente_id.unique())

141243

In [699]:
# 3) solução alternativa
primeira_dose = df['vacina_descricao_dose']=="1ª Dose"
len(df[primeira_dose].paciente_id.unique())

141243

In [701]:
    # Acho que não foi realmente uma solução alternativa foi basicamente a mesma coisa, mas não consegui pensar em outro modo...

In [711]:
# 4) Quantos pacientes com menos de 18 anos foram vacinados?
len(df[df.paciente_idade<18].paciente_id.unique())

63276

In [788]:
# 5) Quantos estabelecimentos aplicaram vacina no Acre?

# Não sei se devo usar _razaoSocial _valor ou _noFantasia
# Os 3 retornam numeros diferentes por que tem dados repetitos e sujos por exemplo (UNIDADE DE SAUDE DE TAL: U S DE TAL)
# isso acontece no noFantasia e no razaoSocial

# len(df.estalecimento_noFantasia.unique())
# len(df.estabelecimento_razaoSocial.unique())
len(df.estabelecimento_valor.unique())

196

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [893]:
# 1)

df_menor = df[df['paciente_idade']<18]

In [894]:
# 2)
colunas = [x for x in df_menor.columns]

In [895]:
# 3)
len(df_menor.vacina_categoria_nome.unique())

14

In [896]:
# 4)
colunas_estabelecimento = colunas[14:20]
colunas_estabelecimento

['estabelecimento_valor',
 'estabelecimento_razaoSocial',
 'estalecimento_noFantasia',
 'estabelecimento_municipio_codigo',
 'estabelecimento_municipio_nome',
 'estabelecimento_uf']

In [897]:
# 5) usando o método .loc, selecione somente essas variáveis
# Para usar o método .loc eu tive que usar o transpose duas vezes, não entendi muito bem por que nao consigo usar esse loc e iloc direito..

# mas consegui o mesmo resultado sem o loc:
# df_menor[colunas_estabelecimento]

df_menor = df_menor.T.loc[colunas_estabelecimento].T
df_menor

,estabelecimento_valor,estabelecimento_razaoSocial,estalecimento_noFantasia,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
6,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
9,2001314,PREFEITURA MUNICIPAL DE EPITACIOLANDIA,ESF JOAO ALVES DA SILVA,120025,EPITACIOLANDIA,AC
14,2000156,PREFEITURA MUNICIPAL DE TARAUACA,UNIDADE BASICA DE SAUDE JOAO WANDERLEI,120060,TARAUACA,AC
18,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
24,2001772,PREFEITURA MUNICIPAL DE SANTA ROSA DO PURUS,CENTRO DE SAUDE PAULO ALCIONE MARQUES,120043,SANTA ROSA DO PURUS,AC
...,...,...,...,...,...,...
375504,6159087,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,SECRETARIA MUNICIPAL DE SAUDE DE CRUZEIRO DO SUL,120020,CRUZEIRO DO SUL,AC
375505,2002132,PREFEITURA MUN DE MAL THAUMATURGO,ESF RIBEIRINHA DR NALDIR MARIANO,120035,MARECHAL THAUMATURGO,AC
375518,6159087,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,SECRETARIA MUNICIPAL DE SAUDE DE CRUZEIRO DO SUL,120020,CRUZEIRO DO SUL,AC
375521,2002566,PREFEITURA MUNICIPAL DE SENA MADUREIRA,UNIDADE BASICA DE SAUDE LAURO FONTES DA SILVA,120050,SENA MADUREIRA,AC
375522,2000326,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,UNIDADE DE SAUDE DA FAMILIA GEOSETE COELHO MAR...,120020,CRUZEIRO DO SUL,AC

In [899]:
# 6) Aplique o método .drop_duplicates e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

df_menor = df_menor.drop_duplicates()
df_menor

,estabelecimento_valor,estabelecimento_razaoSocial,estalecimento_noFantasia,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
6,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
9,2001314,PREFEITURA MUNICIPAL DE EPITACIOLANDIA,ESF JOAO ALVES DA SILVA,120025,EPITACIOLANDIA,AC
14,2000156,PREFEITURA MUNICIPAL DE TARAUACA,UNIDADE BASICA DE SAUDE JOAO WANDERLEI,120060,TARAUACA,AC
24,2001772,PREFEITURA MUNICIPAL DE SANTA ROSA DO PURUS,CENTRO DE SAUDE PAULO ALCIONE MARQUES,120043,SANTA ROSA DO PURUS,AC
43,6430201,DISTRITO SANITARIO ESPECIAL INDIGENA ALTO JURUA,POLO BASE INDIGENA,120032,JORDAO,AC
...,...,...,...,...,...,...
209566,755605,USF BARRO VERMELHO,USF BARRO VERMELHO,120040,RIO BRANCO,AC
218288,7123043,PREFEITURA MUNICIPAL DE JORDAO,SAUDE DA FAMILIA RIBEIRINHA,120032,JORDAO,AC
222793,2003031,MUNICIPIO DE RIO BRANCO,USF VITORIA,120040,RIO BRANCO,AC
226849,2001837,PREFEITURA MUNICIPAL DE RIO BRANCO,USF SANTA INES I,120040,RIO BRANCO,AC
253865,2001357,SECRETARIA MUNICIPAL DE SAUDE DE BRASILEIA,ESF PEDRO OLIVEIRA DE SOUZA,120010,BRASILEIA,AC